---
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro about</title>
  </head>
  <body>
    <h1>About me</h1>

    <ul>
        <li><a href="/">top</a></li>
        <li><a href="/about">about</a></li>
    </ul>
  
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus, ipsam! Fuga ut temporibus animi. Modi molestias reprehenderit, voluptatibus quia saepe rerum similique dolorem veritatis vero quidem deserunt, corrupti adipisci magnam?</p>
  </body>
</html>